@font-face {
  font-family: "RenogareSoft";
  src: url('/fonts/RenogareSoft-Regular.eot');
  src: url('/fonts/RenogareSoft-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/RenogareSoft-Regular.woff2') format('woff2'),
    url('/fonts/RenogareSoft-Regular.woff') format('woff'),
    url('/fonts/RenogareSoft-Regular.ttf') format('truetype'),
    url('/fonts/RenogareSoft-Regular.svg#RenogareSoft-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url('/fonts/JetBrainsMono-Regular.eot');
  src: url('/fonts/JetBrainsMono-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/JetBrainsMono-Regular.woff2') format('woff2'),
    url('/fonts/JetBrainsMono-Regular.woff') format('woff'),
    url('/fonts/JetBrainsMono-Regular.ttf') format('truetype'),
    url('/fonts/JetBrainsMono-Regular.svg#JetBrainsMono-Regular') format('svg');
  font-weight: 100 900;
  font-style: normal;
  font-display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "JetBrainsMono";
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--theme-color-bg);
  color: var(--theme-color);
  --theme-color-bg: #fff;
  --theme-color: #333;
  --theme-color-hover: #666;
  --gh-social-count: #25292e;
  --gh-social-count-bg: #fff;
  --gh-bg-img: linear-gradient(180deg, #f6f8fa, #ebf0f4 90%);
  --gh-bg-img-hov: linear-gradient(180deg, #eff2f5, #e5eaee 90%);
  --gh-bg-hov: #e5eaee;
  --gh-bg-active: #e6eaef;
  --gh-border: #d1d9e0;
  transition: color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

:root.dark body {
  background-color: var(--theme-color-bg);
  color: var(--theme-color);
  --theme-color-bg: #000;
  --theme-color: #fff;
  --theme-color-hover: #ccc;
  --gh-social-count: #f0f6fc;
  --gh-social-count-bg: #0D1117;
  --gh-bg-img: linear-gradient(180deg, #212830, #1a2026 90%);
  --gh-bg-img-hov: linear-gradient(180deg, #262c36, #1f242c 90%);
  --gh-bg-hov: #1f242c;
  --gh-bg-active: #2a313c;
  --gh-border: #3d444d;
}

