@font-face {
  font-family: "RenogareSoft";
  src: url('/fonts/RenogareSoft-Regular.eot');
  src: url('/fonts/RenogareSoft-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/RenogareSoft-Regular.woff2') format('woff2'),
    url('/fonts/RenogareSoft-Regular.woff') format('woff'),
    url('/fonts/RenogareSoft-Regular.ttf') format('truetype'),
    url('/fonts/RenogareSoft-Regular.svg#RenogareSoft-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url('/fonts/JetBrainsMono-Regular.eot');
  src: url('/fonts/JetBrainsMono-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/JetBrainsMono-Regular.woff2') format('woff2'),
    url('/fonts/JetBrainsMono-Regular.woff') format('woff'),
    url('/fonts/JetBrainsMono-Regular.ttf') format('truetype'),
    url('/fonts/JetBrainsMono-Regular.svg#JetBrainsMono-Regular') format('svg');
  font-weight: 100 900;
  font-style: normal;
  font-display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "JetBrainsMono";
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--theme-color-bg);
  color: var(--theme-color);
  --theme-color-bg: #fff;
  --theme-color: #333;
  --theme-color-hover: #666;
  transition: color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

:root.dark body {
  background-color: var(--theme-color-bg);
  color: var(--theme-color);
  --theme-color-bg: #000;
  --theme-color: #fff;
  --theme-color-hover: #ccc;
}

