---
import BaseLayout from "../layouts/BaseLayout.astro";
import Link from "../components/Link.astro";
import Breathe from "../components/Breathe.astro";
---

<BaseLayout>
  <div class="img-wrapper">
    <img src="/gifs/creature_f.gif" alt="Creature F" />
  </div>
  <Breathe />
  <div class="not-found-container">
    <h5>404 - Not Found</h5>
    <Link icon="link" text="emptyspaceheart.com" url="/" internal={true} />
    <Breathe />
  </div>
  <style>
    img {
      width: 1.25rem;
    }

    .img-wrapper {
      text-align: center;
    }

    h5 {
      margin-bottom: 0.5rem;
    }
  </style>
</BaseLayout>
