---
import BaseLayout from "../layouts/BaseLayout.astro";
import List from "../components/List.astro";
import Breathe from "../components/Breathe.astro";
---

<BaseLayout>
  <div class="quote">
    <img src="/gifs/emptyspaceheart.gif" alt="Empty Space Heart" />
    <p>
      The way I see it,<br />the Mountain can't bring out<br />anything that
      isn't already in you.
    </p>
    <small>- Celia -</small>
  </div>
  <Breathe />
  <List title="Official" category="official" />
  <Breathe />
  <List title="General" category="general" />
  <Breathe />
  <List title="Discord" category="discord-global" />
  <Breathe />
  <List title="Modding" category="modding" />
  <Breathe />
  <List title="Challenges" category="challenge" />
  <Breathe />
  <List title="Speedrunning" category="speedrunning" />
  <Breathe />
  <List title="Merch" category="merch" />
  <Breathe />
</BaseLayout>
<style>
  img {
    width: 1.25rem;
  }
  .quote {
    font-size: 0.5rem;
    line-height: 2rem;
    text-align: center;
    margin-bottom: 1rem;
  }
</style>
