---

---

<footer class="footer">
  <div>
    <a href="/about">About</a>
  </div>
  <div class="socials">
    <a
      class="github-button"
      href="https://github.com/jwnle31/emptyspaceheart"
      data-color-scheme="no-preference: light; light: light; dark: dark;"
      data-icon="octicon-star"
      data-size="large"
      data-show-count="true"
      aria-label="Star buttons/github-buttons on GitHub">Star</a
    >
  </div>
</footer>
<style>
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.75rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
  }

  .socials {
    margin-top: 1rem;
  }

  .icon {
    font-size: 1.25rem;
  }

  a {
    color: var(--theme-color);
    text-decoration: none;
  }

  a:hover,
  a:active {
    color: var(--theme-color-hover);
    transition: color 0.2s ease-in;
  }
</style>
