---

---

<footer class="footer">
  <div>
    <a href="/about">About</a>
  </div>
  <div class="socials">
    <a
      class="github-button"
      href="https://github.com/jwnle31/emptyspaceheart"
      data-color-scheme="no-preference: light; light: light; dark: dark;"
      data-icon="octicon-star"
      data-size="large"
      data-show-count="true"
      aria-label="Star buttons/github-buttons on GitHub">Star</a
    >
  </div>
</footer>
<style>
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.75rem;
    margin: 5rem 0;
  }

  .socials {
    margin-top: 2rem;
  }

  .icon {
    font-size: 1.25rem;
  }

  a {
    color: #222;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }

  a:hover {
    color: #444;
  }

  a:active {
    color: #666;
  }

  a:focus {
    outline: none;
  }
</style>
