---

---

<h1><a href="/">empty space</a></h1>
<style>
  h1 {
    font-family: Renogare;
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 0.5rem;
    margin-right: -0.5rem;
    text-align: center;
    margin: 5rem 0;
  }
  a {
    color: #333;
    text-decoration: none;
  }
</style>
