---
import ThemeIcon from "./ThemeIcon.astro";
---

<div>
  <div class="menu">
    <ThemeIcon />
  </div>
  <h1><a href="/">empty space</a></h1>
</div>

<style>
  .menu {
    text-align: right;
  }

  h1 {
    font-family: RenogareSoft;
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 0.5rem;
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 6rem;
    margin-right: -0.5rem;
  }

  a {
    color: var(--theme-color);
    text-decoration: none;
  }
</style>
