.icon {
  font-size: 0.875rem;
  min-width: 1rem;
}

.link {
  font-family: JetBrainsMono;
  list-style: none;
  font-size: 0.875rem;
  line-height: 1.75rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  transition: transform 0.2s ease;
  min-width: 0;
}

.link:hover {
  transform: translateX(0.25rem);
}

.link span {
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: ellipsis;
}

.link a {
  color: var(--theme-color);
  text-decoration: none;
}

.link a:hover,
.link a:active {
  color: var(--theme-color-hover);
  transition: color 0.2s ease-in;
}

.flag-wrapper {
  margin-left: auto;
}
